// @link https://css-tricks.com/logic-in-media-queries/

h1, h2, h3, h4, h5, h6{
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
}

h1{ font-size: ($font-size-h1 * .75) }
h2{ font-size: ($font-size-h2 * .75) }
h3{ font-size: $font-size-h3 }
h4{ font-size: $font-size-h4 }
h5{ font-size: $font-size-h5 }
h6{ font-size: $font-size-h6 }

@media(min-width: $screen-xs){
	h1{ font-size: ($font-size-h1 * .8) }
	h2{ font-size: ($font-size-h2 * .8) }
}

@media (min-width: $screen-md){
	h1{ font-size: $font-size-h1 }
	h2{ font-size: $font-size-h2 }
}