$screen-xs:		480px !default;
$screen-sm:		768px !default;
$screen-md:		992px !default;
$screen-lg: 	1200px !default;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 16px !default;
$line-height-base: 1.5;

$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.25 !default;

$font-size-h1: 2rem !default;
$font-size-h2: 1.5rem !default;
$font-size-h3: 1.25rem !default;
$font-size-h4: 1rem !default;
$font-size-h5: .875rem !default;
$font-size-h6: .75rem !default;

$font-family-monospace: "Source Code Pro", Consolas, monospace !default;

$list-margin-top: 0 !default;
$list-margin-bottom: .75rem !default;


body{
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


pre, code, samp{
	font-family: $font-family-monospace;
}

@import "headings";
@import "list";