$screen-xs:		480px !default;
$screen-sm:		768px !default;
$screen-md:		992px !default;
$screen-lg: 	1200px !default;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 100% !default;
$line-height-base: 1.5;

$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.25 !default;

$font-size-h1: 2rem !default;
$font-size-h2: 1.5rem !default;
$font-size-h3: 1.25rem !default;
$font-size-h4: 1rem !default;
$font-size-h5: .875rem !default;
$font-size-h6: .75rem !default;

body{
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6{
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
}

h1{ font-size: $font-size-h1 }
h2{ font-size: $font-size-h2 }
h3{ font-size: $font-size-h3 }
h4{ font-size: $font-size-h4 }
h5{ font-size: $font-size-h5 }
h6{ font-size: $font-size-h6 }